<nav>
  <a href="/index">Home</a>
  <a href="/user/dashboard">Dashboard</a>
  <a href="/user/profile">Profile</a>
  <a href="/user/search">Search</a>
  <a href="/user/savedsearches">Saved Searches</a>
  <a class="username">Welcome {Username}</a>
</nav>
