/* PAGE LAYOUT */

.left{
  float: left;
}

.right{
  float: right;
}
.cs-:after, .cs-squeeze:after {
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
}

.cs-squeeze {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.none {
  float: none !important;
}

.pull--right {
  float: right !important;
}

.pull--left {
  float: left !important;
}

.clear {
  display: block;
  float: none;
  clear: both;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: #FFF;
  color: #494949;
  font-family: sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

.cs-wrap {
  height: auto !important;
  height: 100%;
  margin-bottom: -100px;
  min-height: 100%;
  position: relative;
}

/* NAVBAR */
nav{
  position: fixed;
  top: 5px;
  width: 100%;
  z-index: 9999;

  margin: 10px 175px 0 0;
  display:inline;

  /*margin: 10px 0 10px 0;
  display:inline-block;*/
  background-color: white;
}

a{
  border-style: solid;
  border-left-width: 20px;
  border-right-width: 20px;
  border-color: lightblue;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: white;
  background-color: lightblue;
}
/*.body A:link{
  border-style: none;
  text-decoration: none;
  color: grey;
  float: none;
  background-color: white;
}*/
a:visited{
  text-decoration: none;
  color:  white;
}
a:active{
  text-decoration: none;
  color: white;
  background-color: lightblue;
}
a:hover{
  color: black;
  background-color: white;
  border-color: white;
}

.username{
  position: relative;
  margin-left: 90px;
  color: black;
  background-color: white;
  border-color: white;
}

form.input{
  position: relative;
  display:inline;
}
input{
  width:200px;
  height:25px;
}
.spacefromtop{
  margin-top:80px;
}
.searchbar{
  margin-bottom: 20px;
}
.button{
  position: relative;
  cursor: pointer;
  margin: -1px 0 0px 20px;
  width: 60px;
  height: 27px;
}
.button:hover{
  cursor: pointer;
}

.newline{
  width: 100%;
}

.btn-search{
  width: 100px;
  height: 60px;
  margin: 0 10px 0 0;
  text-transform: uppercase;
  background-color: white;
  border-style: solid;
  border: 2px;
  border-color: black;
}

.btn-search:hover{
  background-color: lightblue;
  cursor: pointer;
}


}
.box-wrap {
  margin: 100px 0;
  width: 1000px;
  float: left;
}
.box {
  width: 30%;
  border: solid 1px #CCC;
  float: left;
  padding: 5px;
}
  .box:nth-child(n) {
    margin-bottom: 5%;
    margin-right: 5%;
  }
  .box:nth-child(n) {
    margin-right: 0;
    margin-bottom: 0;
  }
  .box img {
    display: block;
    margin: 0 0 10px;
    width: 100%;
  }


  .boximg {
    margin: 0 0 10px 3%;
  }
  h1{
    font-weight: normal;
    font-size: x-large;
    margin-left: 10%;
    margin-top: 6%;
    margin-bottom: 3%
  }
  .textboxes{
    margin: 0 0 0 3.5%;
  }
  .bio{
    margin: 0 5% 5% 3.5%;
  }
  /*Javascript stuff */
.error{
  border: 1px solid red;
}
  /* End of Javascript stuff*/

  .contentP{
    position: relative;
    top: 50%;
    left: 47%;
    margin-right: -50px;
    margin-left: -50px;
    width: 200px;
    height: 150px;
    text-align: center;
  }
