/* PAGE LAYOUT */
.pagelayout{
  position: relative;
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

.left{
  float: left;
}

.right{
  float: right;
}
.cs-clear:after, .cs-squeeze:after {
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
}

.cs-squeeze {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.none {
  float: none !important;
}

.pull--right {
  float: right !important;
}

.pull--left {
  float: left !important;
}

.clear {
  display: block;
  float: none;
  clear: both;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: #FFF;
  color: #494949;
  font-family: sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

.cs-wrap {
  height: auto !important;
  height: 100%;
  margin-bottom: -100px;
  min-height: 100%;
  position: relative;
}

.top{
  margin-top: 10px;
}
/* NAVBAR */
nav{
  position: fixed;
  top: 5px;
  left: 10%;
  width: 100%;
  z-index: 9999;
  margin: 10px 175px 0 0;
  display:inline-block;
}

  a{
  border-style: solid;
  border-left-width: 20px;
  border-right-width: 20px;
  border-color: lightblue;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: white;
  background-color: lightblue;
}
a:visited{
  text-decoration: none;
  color:  white;
}
a:active{
  text-decoration: none;
  color: white;
  background-color: lightblue;
}

a:hover{
  color: black;
  background-color: white;
  border-color: white;
}
.box-wrap {
  margin: 100px 0;
  width: 1000px;
  float: left;
}
.box {
  width: 30%;
  border: solid 1px #CCC;
  float: left;
  padding: 5px;
}
  .box:nth-child(n) {
    margin-bottom: 2%;
    margin-right: 2%;
  }
  .box:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 0;
  }
  .box img {
    display: block;
    margin: 0 0 10px;
    width: 100%;
  }
