<!DOCTYPE HTML>
<html>
  <head>
    <title>Authorized Page</title>
    <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  </head>
<body class="cs-squeeze">
  {{> menu}}
  {{{body}}}
</body>
</html>
