<!DOCTYPE HTML>
<html>
  <head>
    <title>Authorized Page</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
<body class='cs-squeeze'>
  {{>menu}}
  {{{body}}}
</body>
</html>
