<div class="spacefromtop"></div>
    <div class="box-wrap cs-clear">
      <div class="box">
        <img src="http://placehold.it/300x200" />
        <p class= "pull--right">3 Likes</p>
        <p2 class= "pull--left">5 comments</p2>
      </div>
      <div class="box">
        <img src="http://placehold.it/300x200" />
        <p class= "pull--right">3 Likes</p>
        <p2 class = "pull--left">5 comments</p2>
      </div>
      <div class="box">
        <img src="http://placehold.it/300x200" />
        <p class= "pull--right">3 Likes</p>
        <p2 class = "pull--left">5 comments</p2>
      </div>
      <div class="box">
        <img src="http://placehold.it/300x200" />
        <p class= "pull--right">3 Likes</p>
        <p2 class= "pull--left">5 comments</p2>
      </div>
      <div class="box">
        <img src="http://placehold.it/300x200" />
        <p class= "pull--right">3 Likes</p>
        <p2 class = "pull--left">5 comments</p2>
      </div>
      <div class="box">
        <img src="http://placehold.it/300x200" />
        <p class= "pull--right">3 Likes</p>
        <p2 class = "pull--left">5 comments</p2>
      </div>
      <div class="box">
        <img src="http://placehold.it/300x200" />
        <p class= "pull--right">3 Likes</p>
        <p2 class = "pull--left">5 comments</p2>
      </div>
      <div class="box">
        <img src="http://placehold.it/300x200" />
        <p class= "pull--right">3 Likes</p>
        <p2 class = "pull--left">5 comments</p2>
      </div>
      <div class="box">
        <img src="http://placehold.it/300x200" />
        <p class= "pull--right">3 Likes</p>
        <p2 class = "pull--left">5 comments</p2>
      </div>
      <div class="box">
        <img src="http://placehold.it/300x200" />
        <p class= "pull--right">3 Likes</p>
        <p2 class = "pull--left">5 comments</p2>
      </div>
</div>
