<div class = "bio">
  <h1>User Profile</h1>
  <div class="input">
    <div class="boximg">
      <img src="http://placehold.it/300x200" />
    </div>
    <form class = textboxes>
      Name:<br>
      <input type="text" name="Name">
      <br>
      <br>
      Email:<br>
      <input type="text" name="Email">
      <br>
      <br>
       Bio:<br>
      <!--<input type="text" name="Bio"> -->
    </form>
    <textarea class = "bio" rows="4" cols="35">
    </textarea>
  </div>
</div>
