<head>
  <title>Saved Searches</title>
</head>
<body class="cs-squeeze">
    <button class="btn-search" type="searched" name="button"> #search</button>
    <button class="btn-search" type="searched" name="button"> #search</button>
    <button class="btn-search" type="searched" name="button"> #search</button>
    <button class="btn-search" type="searched" name="button"> #search</button>
</body>
