<head>
  <title>Search</title>
</head>

<div class="spacefromtop"></div>
<div class="pull-left searchbar">
  <strong class="left newline">Search by Hashtag below:</strong>
  <form class="pull-left" method="post" action="">
    <input class="searchit pull-left" type="text" name="tag" value="">
    <input class= "searchbutton button pull-left" type="submit" name="searchbutton" value="Search">
  </form>
</div>


<div class="cs-content">
  <div class="cs-squeeze">
    <div class="box-wrap clear">
      {{> posts}}
    </div>
  </div>
</div>
