<!DOCTYPE html>
<html>
  <head>
    <title>Search</title>
    <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="main.js"></script>
  </head>
  <body class="cs-squeeze">
  
    <div class="spacefromtop"></div>
    <div class="pull-left searchbar">
      <strong class="left newline">Search by Hashtag below:</strong>
      <form class="pull-left" method="post" action="">
        <input class="searchit pull-left" type="text" name="searchit" value="">
        <input class= "searchbutton button pull-left" type="submit" name="searchbutton"
                value="Search">
      </form>
    </div>


    <div class="cs-content">
      <div class="cs-squeeze">
        <div class="box-wrap clear">
          <div class="box">
            <img src="http://wers.org/files/2014/06/ThrowbackThursday.jpg" />
            <p>3 Likes</p>
            <p2>5 comments</p2>
          </div>
          <div class="box">
            <img src="http://wers.org/files/2014/06/ThrowbackThursday.jpg" />
            <p>3 Likes</p>
            <p2>5 comments</p2>
          </div>
          <div class="box">
            <img src="http://wers.org/files/2014/06/ThrowbackThursday.jpg" />
            <p>3 Likes</p>
            <p2>5 comments</p2>
          </div>
          <div class="box">
            <img src="http://wers.org/files/2014/06/ThrowbackThursday.jpg" />
            <p>3 Likes</p>
            <p2>5 comments</p2>
          </div>
          <div class="box">
            <img src="http://wers.org/files/2014/06/ThrowbackThursday.jpg" />
            <p>3 Likes</p>
            <p2>5 comments</p2>
          </div>
          <div class="box">
            <img src="http://wers.org/files/2014/06/ThrowbackThursday.jpg" />
            <p>3 Likes</p>
            <p2>5 comments</p2>
          </div>
          <div class="box">
            <img src="http://wers.org/files/2014/06/ThrowbackThursday.jpg" />
            <p>3 Likes</p>
            <p2>5 comments</p2>
          </div>
          <div class="box">
            <img src="http://wers.org/files/2014/06/ThrowbackThursday.jpg" />
            <p>3 Likes</p>
            <p2>5 comments</p2>
          </div>
          <div class="box">
            <img src="http://wers.org/files/2014/06/ThrowbackThursday.jpg" />
            <p>3 Likes</p>
            <p2>5 comments</p2>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
